<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mim</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        header {
            text-align: center;
            background-color: #f0f0f0;
            padding: 10px;
        }

        section {
            margin-top: 20px;
        }

        h1, h2 {
            color: #333;
        }

        p {
            line-height: 1.5;
            color: #555;
        }
    </style>
</head>
<body>

    <header>
        <h1>João Vitor Santi Valvassori</h1>
        <p>Desenvolvedor Web Apaixonado por Tecnologia</p>
    </header>

    <section>
        <h2>Sobre Mim</h2>
        <p>Olá! Me chamo João Vitor Santi Valvassori, e sou estudante do curso de Análise e Desenvolvimento de Sistemas no Instituto Federal Farroupilha Campus São Vicente do Sul. Desenvolvi todo o sistema apresentado nesta página como parte do meu percurso acadêmico.</p>
        <p>Minha jornada no vasto mundo da programação começou em 2021, e desde então, tenho me dedicado arduamente para aprimorar minhas habilidades. Sou apaixonado por tecnologia, especialmente no âmbito do desenvolvimento web, e estou sempre em busca de novos desafios e aprendizados.</p>
    </section>

    <section>
        <h2>Habilidades</h2>
        <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>PHP</li>
        </ul>
    </section>


    <section>
        <h2>Contato</h2>
        <p>Você pode entrar em contato comigo através do meu e-mail vitorvalvassori@gmail.com ou me encontrar nas redes sociais: Facebook: João Vitor Santi Valvassori. Estou sempre aberto para novas oportunidades e colaborações!</p>
    </section>

</body>
</html>
